<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Contatos</title>
  <link rel="stylesheet" href="../static/contatos.css">
</head>
<body>
  <div class="container">
    <h1 class="title">Contatos</h1>
    <a href="{{ url_for('contatosController.adicionar') }}" class="button">Adicionar Contato</a>
    <table class="tabela-contatos">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
      {% for resultado in resultados %}
      <tr>
        <td>{{ resultado.id }}</td>
        <td>{{ resultado.nome }}</td>
        <td>{{ resultado.email }}</td>
        <td>{{ resultado.telefone }}</td>
        <td>
          <div class="button-group">
            <a href="{{ url_for('contatosController.atualizar', id=resultado.id) }}" class="button">Atualizar</a>
            <form action="{{ url_for('contatosController.confirmar_exclusao', id=resultado.id) }}" method="get">
              <button type="submit" class="button-excluir">Excluir</button>
            </form>            
          </div>
        </td>                
      </tr>
      {% endfor %}
    </table>    
  </div>
</body>
</html>
